:root {
  --bg-color: #e1e3e6;
  --color-vue-green: #42b883;
  --color-vue-blue: #35495e --scrollbar-width: 17px;
}
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--color-vue-blue);
  transition: 0.25s;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: transparent;
}
a:visited {
  color: initial;
}
.active-router-link {
  text-decoration: underline;
  text-decoration-color: var(--color-vue-green);
  color: var(--color-vue-green);
}
